@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <input id="search" class="form-control" placeholder="Digite o nome do torrent desejado aqui..." />
    <div id="cards">
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let timerId;

            $("#search").keyup(function(){
                clearTimeout(timerId);
                timerId = setTimeout(function(){tpbQuery()}, 1500);
                showHideLoading("#cards");

            });
        });

        function tpbQuery(){
            
            showHideLoading("#cards");
            var input = $("#search").val();
            if (input != "") {
                $.ajax(
                    {
                        type: 'GET',
                        url: '/Home/QueryTPBApi?query=' + input,
                        success: function (response) {
                            var cardsHtml = "";
                            console.log(response);
                            if (response[0].name != "No results returned") {
                                response.forEach(item => {

                                    var sizeFileConverted = ConvertSizeFile(item.size);
                                    var cardHtml = "<div class='card w-100' style='width: 18rem;'>" +
                                        "<div class='card-body'>" +
                                        "<h5 class='card-title'>" + item.name + "</h5>" +
                                        "<p class='card-text'>Tamanho: " + sizeFileConverted + "</p>" +
                                        "<button onclick='showModalFilmeSerie(" + item.id + ")'  type='button' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#staticBackdrop'>Baixar no servidor</button>" +
                                        "</div>" +
                                        "</div>";
                                    cardsHtml = cardsHtml + cardHtml;
                                });
                            }
                            else{
                                cardsHtml = "<p class='noTorrents'>Nenhum torrent foi encontrado</p>";
                            }
                            $("#cards").html(cardsHtml);
                        },
                    });
            }
            else {
                $("#cards").html(null);
            }
        };

        function downloadTorrent(id){
            var filmeSerie = $("#radioFilme").is(":checked");
            $.ajax(
                {
                    type: 'POST',
                    url: '/Home/DownloadTorrent?id=' + id + '&filmeSerie=' + filmeSerie,
                });
            window.location.replace("/Home/Downloads");
        };
    </script>
}